/node_modules
/package.json
/package-lock.json



# Assalam o alekum 
# I m hasan I have seen this job ad in my group I do mern stack development diploma from SMIT (saylaani mass it training program ) this job is very important for me, I hope I am never disappoint you that’s why I m applying , kindly check my resume and give me one chance and I am proving to you myself.

# Thanks  
